/* /* .ui.blue.button, .ui.blue.buttons .button {
    background-color: black;
    color: #fff;
    text-shadow: none;
    background-image: none;
} */
/* .ui.blue.button, .ui.blue.buttons .button {
    background-color: black;
    color: #fff;
    text-shadow: none;
    background-image: none;
} */ 