Body {
    background-color: #C7B198;
    font-family: 'Georgia', serif;
            /* color: white; */
}
/* h1 {
    color: white;
} */
.ui.header {
    color: white;
    font-family: 'Playfair Display', serif;
}
.ui.inverted.header {
    font-family: 'Playfair Display', serif;
    /* text-decoration: underline; */
}
.ui.primary.button,
.ui.primary.bttons .button {
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Playfair Display', serif;
}
a {
    color: rgba(0, 0, 0, 0.6);
}
h2 {
    font-family: 'Playfair Display', serif;
}